<%- include('partials/header.ejs') %>
<body style="overflow-x: hidden;">
    <%- include('partials/navbar.ejs') %>

    <div class="row featurette" style="padding: 45px; margin-top: 30px; font-family: Inter; margin-bottom: 20px;">
      <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1" style="text-align: center;">About Us</h2>
          <p class="lead" style="padding: 30px; font-family: Libre Franklin;">This website was created as a group effort by the people below! We utilzed free public APIs to make a simple but interesting website, while learning many new skills and tools along the way.</p>
      </div>
      <div class="col-md-5">
          <img src="/assets/bluegradientlogo.png" alt="Logo" class="featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
  </div>


      <div class="row" style="margin-left: 5px; margin-right: 5px;">
        <div class="col-lg-4">
          <img src="/assets/ariela.jpg" class="bd-placeholder-img rounded-circle" style="margin-left: 0px; margin-bottom:10px; object-fit: cover;" width="140" height="140" alt="Ariela">
          <h2 style="text-align: center; color: #af3b6e" class="fw-normal">Ariela</h2>
          <p style="font-family: Libre Franklin; text-align: center;">Double major in Computer Science and Psychology. Worked on some front-end portions including the genres page and designing the logo. Also worked on the back-end with the events portion of the generate plan feature.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/assets/mane.jpg" class="bd-placeholder-img rounded-circle" style="margin-left: 0px; margin-bottom:10px; object-fit: cover" width="140" height="140" alt="Mane">
          <h2 style="text-align: center; color: #e27396" class="fw-normal">Mane</h2>
          <p style="font-family: Libre Franklin; text-align: center;">Computer Science Major and Accounting Minor. Worked on the log in feature and design. Also worked on the backend features requiring fetching upcoming movies.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/assets/Jason.png" class="bd-placeholder-img rounded-circle" style="margin-left: 0px; margin-bottom:10px; object-fit: cover" width="140" height="140" alt="Jason">
          <h2 style="text-align: center; color:#758bfd" class="fw-normal">Jason</h2>
          <p style="font-family: Libre Franklin; text-align: center;">Computer science student that has an degree in electromechanical engineering technology and minor in mathematics. Jason worked on most of the front-end of the NYCinema project and little bit of back-end</p>
        </div><!-- /.col-lg-4 -->
      </div>

      <div class="aboutcontainer" style="height: 100vh; overflow-y: auto;">
        <div class="contactbox" style="background-color: #f8f9FA;">
            <h1 style="font-family: Inter;">Contact Us</h1>
            <form id="contactForm" >
                <label for="fname">Your Name:</label><br>
                <input class="submit" type="text" id="fname" name="fname" size="50" required><br>
                
                <label for="email">Your Email:</label><br>
                <input class="submit" type="email" id="email" name="email" size="50" required><br>
                
                <label for="message">Message:</label><br>
                <textarea class="submit" id="message" name="message" cols="50" rows="7" required></textarea><br>
                
                <input class="submit" type="submit" style="margin-left: 145px; background-color: #758bfd; border: none; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; margin: 20px auto 0; display: block;" value="Send Your Message" />
            </form>

            <div id="successMessage" style="display: none; color: #E27396; text-align: center; margin-top: 10px;">
                Thank you! Your message has been sent.
            </div>
        </div>
    </div>
    
    <script>
    document.getElementById('contactForm').addEventListener('submit', function(event) {
        event.preventDefault(); // prevent the form from submitting the default way
    
        const formData = {
            fname: document.getElementById('fname').value,
            email: document.getElementById('email').value,
            message: document.getElementById('message').value
        };
    
        fetch('/submitcontact', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('contactForm').reset(); // clear the form
                document.getElementById('successMessage').style.display = 'block'; // show success message
            } else {
                alert('An error occurred. Please try again.');
            }
        })
        .catch(error => {
            alert('An error occurred. Please try again.');
            console.error('Error:', error);
        });
    });
    </script>


      <%- include('partials/register.ejs') %>

      <%- include('partials/footer.ejs') %>