<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="row featurette" style="padding: 45px; margin-top: 30px; font-family: Inter;">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1" style="text-align: center;">About Us</h2>
          <p class="lead" style="padding: 30px; font-family: Libre Franklin;">To bring life back to the cinemas and in general to have people experience all of what NYC has to offer, we plan to create a website or web application that will recommend a movie currently being shown in theaters to the user along with some type of activity in NYC to go along with it. </p>
        </div>
        <div class="col-md-5">
          <img src="/assets/bluegradientlogo.png" alt="Logo" class="featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
      </div>


      <div class="row" style="margin-left: 5px; margin-right: 5px;">
        <div class="col-lg-4">
          <img src="/assets/kana.png" class="bd-placeholder-img rounded-circle" style="margin-left: 165px; margin-bottom:10px;" width="140" height="140" alt="Ariela">
          <h2 style="text-align: center; color: #af3b6e" class="fw-normal">Ariela</h2>
          <p style="font-family: Libre Franklin; text-align: center;">Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/assets/ruby.png" class="bd-placeholder-img rounded-circle" style="margin-left: 165px; margin-bottom:10px;" width="140" height="140" alt="Mane">
          <h2 style="text-align: center; color: #e27396" class="fw-normal">Mane</h2>
          <p style="font-family: Libre Franklin; text-align: center;">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/assets/Jason.png" class="bd-placeholder-img rounded-circle" style="margin-left: 165px; margin-bottom:10px;" width="140" height="140" alt="Jason">
          <h2 style="text-align: center; color:#758bfd" class="fw-normal">Jason</h2>
          <p style="font-family: Libre Franklin; text-align: center;">Computer science student that has an degree in electromechanical engineering technology and minor in mathematics. Jason worked on most of the front-end of the NYCinema project and little bit of back-end</p>
        </div><!-- /.col-lg-4 -->
      </div>

      <div class="container">
        <div class="testing" style="background-color: white; ">
            <h1 style="font-family: Inter;">Contact Us</h1>
            <form id="contactus">
                <label for="fname">Name:</label><br>
                <input class="submit" type="text" id="fname" name="fname" size="50"><br>
                <label for="lname">Email:</label><br>
                <input class="submit" type="text" id="lname" name="lname" size="50"><br>
            
                <label for="fname">Message:</label><br>
                <textarea class="submit"name="paragraph_text" cols="50" rows="7"></textarea>

                <input class="submit" type="submit" style="margin-left: 145px; background-color: #758bfd;" value="Send your Message" />
            </form>
        </div>
      </div>
      
      <script>
        document.getElementById('contactForm').addEventListener('submit', function(event) {
            event.preventDefault(); // prevent the form from submitting the default way
        
            const formData = {
                fname: document.getElementById('fname').value,
                email: document.getElementById('email').value,
                message: document.getElementById('message').value
            };
        
            fetch('/submitcontact', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('contactForm').reset(); // clear the form
                    document.getElementById('successMessage').style.display = 'block'; // show success message
                } else {
                    alert('An error occurred. Please try again.');
                }
            })
            .catch(error => {
                alert('An error occurred. Please try again.');
                console.error('Error:', error);
            });
        });
        </script>

      <%- include('partials/register.ejs') %>

      <%- include('partials/footer.ejs') %>