<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="events">
    <h1>How the Itenarys are Made?</h1>

    <p>
        Given your input, out website will look around the location of your choosen theater and generate an itenary with things around the sorrounding area.
        
        
    </p>
    </div>



    <%- include('partials/register.ejs') %>

    <%- include('partials/footer.ejs') %>
