<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="container " style="height: 10px;">
      <h1 style="font-family: Inter; align-items: center;">Generate My Plan</h1>
    </div>
    <div class="outcomes">
      <label for="activity">Select the type of activity:</label>
      <select class="button" name="activity" id="activity" style="text-align: center; width: 150px; padding: 10px 24px;">
        <option value="Option_1">Option_1</option>
        <option value="Option_2">Option_2</option>
        <option value="Option_3">Option_3</option>
      </select> 

      <label for="price">Select the price range</label>
      <select class="button" name="price" id="price" style="text-align: center; width: 150px; padding: 10px 24px;">
        <option value="$">$</option>
        <option value="$$">$$</option>
        <option value="$$$">$$$</option>
      </select> 

      <label for="borough">Select the borough</label>
      <select class="button" name="borough" id="borough" style="text-align: center; width: 150px; padding: 10px 24px;">
        <option value="Manhattan">Manhattan</option>
        <option value="Queens">Queens</option>
        <option value="Bronx">Bronx</option>
        <option value="Brooklyn">Brooklyn</option>
        <option value="Staten_Island">Staten Island</option>
      </select> 

      <input class="submit" type="submit" value="Continue!" style="margin-top: 65px;" />
    </div>

    <div class="container" style="height: 10px;">
        
    </div>

    <!-- <div></div> -->

    <div class="container" style="height: 10px;">
      <h1 style="font-family: Inter; align-items: center;">Generate My Plan</h1>
    </div>
    <div class="outcomes">
      <label for="activity">Here is an activity with your preferences!</label>
      <div class="something">
        <img src="https://media.timeout.com/images/105996556/1536/864/image.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="575" height="575" loading="lazy" style="border-radius: 8px;">
        <h4 style="text-align: center; margin: auto;">Activity</h4>
      </div>
      <input class="submit" type="submit" style="margin: auto;"value="Show me my plan!" />
    </div>

    <div class="container" style="height: 10px;">
        
    </div>
  
    <!-- <div></div> -->

    <div class="container" style="height: 10px;">
      <h1 style="font-family: Inter; align-items: center;">Generate My Plan</h1>
    </div>
    <div class="outcomes">
      <label for="activity">Here are three movies showing now, select one!</label>
      <div class="energy">
        <div class="something">
          <img src="https://media.timeout.com/images/105996556/1536/864/image.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="575" height="575" loading="lazy" style="border-radius: 8px;">
          <h4 style="text-align: center; margin: auto;">Movie 1</h4>
        </div>

        <div class="something">
          <img src="https://media.timeout.com/images/105996556/1536/864/image.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="575" height="575" loading="lazy" style="border-radius: 8px;">
          <h4 style="text-align: center; margin: auto;">Movie 2</h4>
        </div>

        <div class="something">
          <img src="https://media.timeout.com/images/105996556/1536/864/image.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="575" height="575" loading="lazy" style="border-radius: 8px;">
          <h4 style="text-align: center; margin: auto;">Movie 3</h4>
        </div>
      </div>

      <select class="button" name="movies" id="movies" style="margin: auto; padding: 10px 24px;">
        <option value="Movie_1">Movie 1</option>
        <option value="Movie_2">Movie 2</option>
        <option value="Movie_3">Movie 3</option>
      </select> 

      <input class="submit" type="submit" style="margin: auto; padding: 10px 24px;"value="Confirm" />
    </div>
  
    <div class="container" style="height: 10px;">
        
    </div>

    <!-- <div></div> -->

    <div class="container" style="height: 10px;">
      <h1 style="font-family: Inter; align-items: center;">Generate My Plan</h1>
    </div>
    <div class="outcomes">
      <label for="activity">Here is your plan for the day out in NYC!</label>
      <div class="energy">
        <div class="something">
          <img src="https://media.timeout.com/images/105996556/1536/864/image.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="575" height="575" loading="lazy" style="border-radius: 8px;">
          <h4 style="text-align: center; margin: auto;">Movie</h4>
        </div>

        <h1>&#8594;</h1>

        <div class="something">
          <img src="https://media.timeout.com/images/105996556/1536/864/image.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="575" height="575" loading="lazy" style="border-radius: 8px;">
          <h4 style="text-align: center; margin: auto;">Activity</h4>
        </div>
      </div>

      <input class="submit" type="submit" style="margin: auto; padding: 10px 24px;"value="Save to my profile" />
    </div>

    <div class="container" style="height: 10px;">
        
    </div>

    <!-- <div></div> -->

    <div class="container" style="height: 10px;">
      <h1 style="font-family: Inter; align-items: center;">Generate My Plan</h1>
    </div>
    <div class="outcomes">
      <label for="activity">Select theater location</label>
      <div class="map-holder" style="background-color: white; border-radius: 5px; border: 2px solid black;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d193571.72093223635!2d-73.94884877453042!3d40.70572811887638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1721076404338!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <label style="text-align: center;" for="genre">Select desired movie genre</label>

      <select class="button" name="genre" id="genre" style="margin: auto; text-align: center; width: 150px; ">
        <option value="Horror">Horror</option>
        <option value="Romance">Romance</option>
        <option value="Comedy">Comedy</option>
      </select> 

      <input class="submit" type="submit" style="margin: auto; padding: 10px 24px;"value="Continue!" />
    </div>

    <%- include('partials/register.ejs') %>

    <%- include('partials/footer.ejs') %>
