<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<body style="margin-bottom: 40px;">

    <div class="container my-5">
        <h1 class="text-center mb-4" style="margin-top: 50px;">What genre are you in the mood for?</h1>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Inception.png" class="card-img-top" alt="Action Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Action</h5>
                        <p class="card-text">Movies in the action genre are defined by risk and stakes. While many movies may feature an action sequence, to be appropriately categorized inside the action genre, the bulk of the content must be action-oriented, including fight scenes, stunts, car chases, and general danger.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/SpiritedAway.png" class="card-img-top" alt="Animation Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Animated</h5>
                        <p class="card-text">The animation genre is defined by inanimate objects being manipulated to appear as though they are living. This can be done in many different ways and can incorporate any other genre and sub-genre on this list.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Napoleon_Dynamite.png" class="card-img-top" alt="Comedy Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Comedy</h5>
                        <p class="card-text">The comedy genre is defined by events that are intended to make someone laugh, no matter if the story is macabre, droll, or zany. Comedy can be found in most movies, but if the majority of the film is intended to be a comedy you may safely place it in this genre.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/TheGodfather.png" class="card-img-top" alt="Crime Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Crime</h5>
                        <p class="card-text">The crime genre deals with both sides of the criminal justice system but does not focus on legislative matters or civil suits and legal actions. The best crime movies often occupy moral gray areas where heroes and villains are much harder to define.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Oppenheimer.png" class="card-img-top" alt="Drama Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Drama</h5>
                        <p class="card-text">The drama genre is defined by conflict and often looks to reality rather than sensationalism. Emotions and intense situations are the focus, but where other genres might use unique or exciting moments to create a feeling, movies in the drama genre focus on common occurrences.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/LOTR.png" class="card-img-top" alt="Fantasy Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Fantasy</h5>
                        <p class="card-text">The fantasy genre is defined by both circumstance and setting inside a fictional universe with an unrealistic set of natural laws. The possibilities of fantasy are nearly endless, but the movies will often be inspired by human myths. The genre often adheres to general human psychology and societal behavior while incorporating non-scientific concepts like magic, mythical creatures, and supernatural elements. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Midsommar.png" class="card-img-top" alt="Horror Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Horror</h5>
                        <p class="card-text">The horror genre is centered upon depicting terrifying or macabre events for the sake of entertainment. A thriller might tease the possibility of a terrible event, whereas a horror film will deliver all throughout the film. The best horror movies are designed to get the heart pumping and to show us a glimpse of the unknown. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/LalaLand.png" class="card-img-top" alt="Musical Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Musical</h5>
                        <p class="card-text">Musicals originated as stage plays, but they soon became a favorite for many film directors and have even made their way into television. Musicals can incorporate any other genre, but they incorporate characters who sing songs and perform dance numbers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Challengers.png" class="card-img-top" alt="Romance Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Romance</h5>
                        <p class="card-text">The romance genre is defined by intimate relationships. Sometimes these movies can have a darker twist, but the idea is to lean on the natural conflict derived from the pursuit of intimacy and love.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Dune_Part_Two.png" class="card-img-top" alt="Sci-Fi Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Sci-Fi</h5>
                        <p class="card-text">Science fiction movies are defined by a mixture of speculation and science. While fantasy will explain through or make use of magic and mysticism, science fiction will use the changes and trajectory of technology and science. Science fiction will often incorporate space, biology, energy, time, and any other observable science.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/MonkeyMan.png" class="card-img-top" alt="Thriller Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Thriller</h5>
                        <p class="card-text">A thriller story is mostly about the emotional purpose, which is to elicit strong emotions, mostly dealing with generating suspense and anxiety. No matter what the specific plot, the best thrillers get your heart racing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Tombstone.jpg" class="card-img-top" alt="Other Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Western</h5>
                        <p class="card-text">Westerns are defined by their setting and time period. The story needs to take place in the American West, which begins as far east as Missouri and extends to the Pacific ocean. They’re set during the 19th century, and will often feature horse riding, military expansion, violent and non-violent interaction with Native American tribes, the creation of railways, gunfights, and technology created during the industrial revolution.</p>
                    </div>
                </div>
            </div>
            <!-- add more genres as needed -->
            <p class="text-center mb-4" style="margin-top: 20px;">
                Genre descriptions used are from Studio Binder's <a href="https://www.studiobinder.com/blog/movie-genres-list/">movie genre list blog.</a>
            </p>
        </div>
        <div style="height: 40px; margin-bottom: 20px; width: 100%;"> </div>

    </div>



    <%- include('partials/register.ejs') %>
    <%- include('partials/footer.ejs') %>
