<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<body style="margin-bottom: 40px;">

    <div class="container my-5">
        <h1 class="text-center mb-4" style="margin-top: 20px;">What genre are you in the mood for?</h1>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Inception.png" class="card-img-top" alt="Action Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Action</h5>
                        <p class="card-text">Description.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Napoleon_Dynamite.png" class="card-img-top" alt="Comedy Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Comedy</h5>
                        <p class="card-text">Description.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Oppenheimer.png" class="card-img-top" alt="Drama Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Drama</h5>
                        <p class="card-text">Description.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Midsommar.png" class="card-img-top" alt="Horror Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Horror</h5>
                        <p class="card-text">Description.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Challengers.png" class="card-img-top" alt="Romance Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Romance</h5>
                        <p class="card-text">Description.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/assets/Dune_Part_Two.png" class="card-img-top" alt="Sci-Fi Genre Image">
                    <div class="card-body">
                        <h5 class="card-title">Sci-Fi</h5>
                        <p class="card-text">Description.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="Other Genre Image">
                    <div class="card-body divmargbot">
                        <h5 class="card-title">Genre</h5>
                        <p class="card-text">Description.</p>
                    </div>
                </div>
            </div>
            <!-- add more genres as needed -->
        </div>
        <div style="height: 40px; margin-bottom: 20px; width: 100%;"> </div>

    </div>



    <%- include('partials/register.ejs') %>
    <%- include('partials/footer.ejs') %>
