<%- include('partials/header.ejs') %>
<body class="homepage">
    <%- include('partials/navbar.ejs') %>

    <%- include('partials/register.ejs') %>



    <div class="container col-xxl-8 px-4 py-5" style="border-radius: 20px; margin-top: 25px; width: 100%;">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://media.timeout.com/images/105996556/1536/864/image.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="575" height="575" loading="lazy" style="border-radius: 8px;">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="font-family: Inter;" >Welcome to NYCinema</h1>
          <p  style="font-family: Libre Franklin;" class="lead">To bring life back to the cinemas and in general to have people experience all of what NYC has to offer, we plan to create a website or web application that will recommend a movie currently being shown in theaters to the user along with some type of activity in NYC to go along with it. </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" style="background-color: #758bfd;" class="btn btn-primary btn-lg px-4 me-md-2">Generate A Plan</button>
          </div>
        </div>
      </div>
    </div>

    <div>
          <h3 style="text-align: center; font-family: Inter; margin: 10px;">Upcoming Movies and Events</h3>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../assets/park.png">
          <img src="https://static1.colliderimages.com/wordpress/wp-content/uploads/2024/05/despicable-me-4-bob-social-featured.jpg?q=70&fit=crop&w=1100&h=550&dpr=1" alt="Event_1" >
        </a>
        <div class="desc" style="font-family: Inter; font-weight: bolder;">Despicable Me 4</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="https://images.gmanews.tv/webpics/2024/06/Screenshot_2024-06-13_at_17_2024_06_13_17_47_33.png" alt="Movie_1">
        </a>
        <div class="desc" style="font-family: Inter; font-weight: bolder;" >Inside Out 2</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
          <img src="https://resources.koha.net/images/2024/June/14/3d330565-37e1-47bf-8b74-eafb85da0335.webp?q=90&w=1360&h=870&r=fill" alt="Event_2">
        </a>
        <div class="desc" style="font-family: Inter; font-weight: bolder;" >Venom: the last dance</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="https://hips.hearstapps.com/hmg-prod/images/ryan-reynolds-hugh-jackman-deadpool-3-65942458156b1.jpg?resize=980:*" alt="Movie_2">
        </a>
        <div class="desc" style="font-family: Inter; font-weight: bolder;">Deadpool 3</div>
      </div>
    </div>
    </div>
    
    </div class = "outcomes">
      <p>.</p>
    </div>
    
    <%- include('partials/footer.ejs') %>

   