<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="movies" style="padding-top: 60px;">
    <h1>How the Movies are Found?</h1>

    <p>
        Given your input our website will find movies showing in the location of your choice.

        <br>
        <br>
    

        The API we will be using is a Fandago API that will find movies on a given input in theater near you.
    </p>


    <h3>Simple Demo of how movies will be generated</h3>

    <form id="moviesdemo" action="/api" method="POST">
        <button type="submit">Get Movie</button>
    </form>
    
    <h2 class="movieTitle"></h2>
    <div class="moviesdisplay">
        <!-- <h2 class="movieTitle1"></h2> -->
        <div class="moviePoster">
            <img class="moviePoster1" src="">
            <div class="movieInfo">
                <h6 class="movieTitle1"></h6>
                <p class="movieGen1"></p>
                <p class="movieDes1"></p>
            </div>
        </div>
        <!-- <h2 class="movieTitle2"></h2> -->
        <div class="moviePoster">
            <img class="moviePoster2" src="">
            <div class="movieInfo">
                <h6 class="movieTitle2"></h6>
                <p class="movieGen2"></p>
                <p class="movieDes2"></p>
            </div>
        </div>
        <!-- <h2 class="movieTitle3"></h2> -->
        <div class="moviePoster">
            <img class="moviePoster3" src="">
            <div class="movieInfo">
                <h6 class="movieTitle3"></h6>
                <p class="movieGen3"></p>
                <p class="movieDes3"></p>
            </div>
        </div>
    </div>



    </p>


    </div>

    <div style="height: 40px; margin-bottom: 20px; width: 100%;"> </div>

    <%- include('partials/register.ejs') %>
    <%- include('partials/footer.ejs') %>
