<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="events" style="padding-top: 60px;">
    <h1>How the Movies are Found?</h1>




    <%- include('partials/register.ejs') %>
    <%- include('partials/footer.ejs') %>
