<%- include('partials/header.ejs') %>
<body style="margin-top: 80px; margin-left: 20px;">
    <%- include('partials/navbar.ejs') %>

    <h1>HELLO WORLD</h1>
    <form action="/logout" method="GET" class="login-submit">
        <button type="submit" id="logout">Logout</button>
    </form>
    <%- include('partials/footer.ejs') %>