.eventsdiv1.active {
    display: flex;
    justify-content:space-around;
    align-content: center;
    margin: 10px;
}

.eventsdiv1{
    display: none;
}

.eventsdiv2 {
    height: 160px;
    width: 160px;
    background: yellowgreen;
    border: 5px solid green;
    padding: 5px;
}

.eventsdemobox.active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 190px; */
}

.eventsdemobox {
    display: none;
    text-align: center;
}


.eventsdemobox input{
    margin: 6px;
    border-radius: 5px;
    border: 1px solid #251f47;
}

.eventsdemo {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.eventssub {
    background: #f8f9FA;
    color: #E27396;
}

.resetbox {
    display: none;

}

.resetbox.active{
    display: flex;
    justify-content: center;
}
