.bi {
    margin-right: 15px;
}

#footerhome {
    position: fixed;
    bottom: 0 !important;
    width: 100%;
    background-color: #f8f9FA;
    z-index: 10;
    margin-bottom: 0px !important; 
    margin-top: 45px !important;
    padding: 10px !important;
    box-sizing: border-box;
}