.card {
    border: 1px solid #251f47 !important;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.15) !important;
}

body {
    background-color: #EAE8ED !important;
}

.container {
    margin-bottom: 100px;
    position: relative;
    padding-bottom: 100px;
}