div.movies {
    margin: 10px;
}

div.movies h1 {
    color: #E27396;
}


.moviesdiv1.active {
    display: flex;
    justify-content:space-around;
    align-content: center;
    margin: 10px;
}

.moviesdiv1{
    display: none;
}

.moviesdiv2 {
    height: 160px;
    width: 160px;
    background: yellowgreen;
    border: 5px solid green;
    padding: 5px;
}

.moviesdemobox.active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 190px; */
}

.moviesdemobox {
    display: none;
}


.moviesdemobox input{
    margin: 6px;
    border-radius: 5px;
    border: 1px solid #251f47;
}

.moviesdemo {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.moviesssub {
    background: #f8f9FA;
    color: #E27396;
}

.resetbox {
    display: none;

}

.resetbox.active{
    display: flex;
    justify-content: center;
}
