* {
    font-family: 'Times New Roman', Times, serif !important;
}

body {
    background-color: #EAE8ED !important;
    margin: 0;
    padding: 0;
}

body.homepage {
    background-color: #f8f9FA !important;
}

.divmargtop {
    margin-top: 65px !important;   
}

.divmargbot {
    margin-bottom: 120px !important;
}