* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #EFE9E7;
}

.navbar {
    background-color: #DFD2CE;
}

.nav-link {
    color: #758BFD;
}

.navbar-brand {
    color: #342C63;
}

#login {
    cursor: pointer;
    border: 1px solid #251f47;
    border-radius: 5px;
    color: #758BFD;
    background-color: #f8f9FA;
    width: 150px;
}

.wrap {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 440px;
    background: #F5F5F5;
    border: 1px solid #251f47;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);

}

.wrap.active-popup {
    transform: scale(1);
}
 
.wrap.active {
    height: 520px;
}

.wrap .form-box {
    width: 100%;
    padding: 40px;
}

.wrap .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}


.wrap.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}


.wrap .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrap.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
} 

.wrap .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #9BABFD;
    font-size: 2em;
    color: #251f47;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

}

.form-box h2 {
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #E27396;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #AF3B6E;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #AF3B6E;
    line-height: 57px;

}

.remember-forgot {
    font-size: .9em;
    color: #342C63;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #251f47;
    margin-right: 3px;
}

.remember-forgot a {
    color: #251f47;
    text-decoration: none;
}


.remember-forgot a:hover {
    text-decoration: underline;
    color: #E27396;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #9BABFD;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: #342C63;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}

.login-register p a {
    color:#342C63;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;
    color: #E27396;
}


div.events {
    margin: 10px;
}

div.events h1 {
    color: #E27396;
}