* {
    font-family: 'Times New Roman', Times, serif !important;
}

body {
    background-color: #EFE9E7 !important;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}